.slider-banner-block__wrapper {
  position: relative;
}
.slider-banner-block__wrapper .btn {
  border-radius: 100px;
  background: #fff;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
  min-width: 46px;
  max-width: 46px;
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: #fff;
  cursor: pointer;
  border-radius: 100%;
  position: absolute;
  z-index: 99999;
}
.slider-banner-block__wrapper .btn:focus {
  outline: none;
}
@media only screen and (max-width: 991px) {
  .slider-banner-block__wrapper .btn {
    display: none;
  }
}
.slider-banner-block__wrapper .btn-next {
  right: -24px;
  top: calc((100% - 46px) / 2);
}
.slider-banner-block__wrapper .btn-prev {
  display: none;
  left: -24px;
  top: calc((100% - 46px) / 2);
}
.slider-banner-block__wrapper .btn-prev .icon-arrow {
  transform: rotate(180deg);
}

.slider-banner-block__list {
  position: relative;
  max-width: 1224px;
}

.main-page-content__wrapper {
  padding: 24px 0px 0px;
}
@media only screen and (max-width: 991px) {
  .main-page-content__wrapper {
    padding: 16px 0px 0px;
  }
}

.other-hot-game__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 24px;
}
@media only screen and (max-width: 991px) {
  .other-hot-game__list {
    margin-top: 16px;
    min-width: 880px;
  }
}

.top-hot-game__list {
  width: 100%;
  display: flex;
}
.top-hot-game__list .common-app__item {
  min-width: calc((100% - 72px) / 3);
  max-width: calc((100% - 72px) / 3);
}
.top-hot-game__list .common-app__item:nth-child(3n) {
  margin-right: 0;
}
@media only screen and (max-width: 991px) {
  .top-hot-game__list .common-app__item {
    min-width: 280px;
    max-width: 280px;
    margin-right: 16px;
  }
}
.top-hot-game__list .common-app__item .image-block__wrapper {
  width: 100%;
  height: 192px;
}
@media only screen and (max-width: 991px) {
  .top-hot-game__list .common-app__item .image-block__wrapper {
    height: 180px;
  }
}
.top-hot-game__list .common-app__item .image-block__wrapper .main-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}
.top-hot-game__list .common-app__item .content-detail-block__wrapper {
  padding: 10px;
}
.top-hot-game__list .common-app__item:first-child .content-detail-block__wrapper {
  background: linear-gradient(0deg, #d86b39 0%, #d86b39 100%), url(<path-to-image>), lightgray 50%/cover no-repeat;
  box-shadow: 0px 10px 10px 0px rgba(216, 107, 57, 0.25);
  border-radius: 0px 0px 20px 20px;
}
.top-hot-game__list .common-app__item:nth-child(2) .content-detail-block__wrapper {
  background: linear-gradient(0deg, #9d7a7b 0%, #9d7a7b 100%), url(<path-to-image>), lightgray 50%/cover no-repeat;
  box-shadow: 0px 10px 10px 0px rgba(157, 122, 123, 0.25);
  border-radius: 0px 0px 20px 20px;
}
.top-hot-game__list .common-app__item:last-child .content-detail-block__wrapper {
  background: linear-gradient(0deg, #e421e6 0%, #e421e6 100%), url(<path-to-image>), lightgray 50%/cover no-repeat;
  box-shadow: 0px 10px 10px 0px rgba(228, 33, 230, 0.25);
  border-radius: 0px 0px 20px 20px;
}

.top-3-hot-app__wrapper {
  display: flex;
}

/*# sourceMappingURL=main.css.map */
