/* -----------------------------------------------------------
	font-face
----------------------------------------------------------- */
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Light.ttf");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Medium.ttf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Bold.ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
.home-page-wrapper {
  padding: 24px 0px;
  background-color: #f5f5f5;
}
.home-page-wrapper .home-page-content .title {
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 42px;
  /* identical to box height */
  /* 2sport/color2 */
  color: #034f76;
  margin-bottom: 24px;
}
@media only screen and (max-width: 991px) {
  .home-page-wrapper .home-page-content .title {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
  }
}

.main-tab {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
@media only screen and (max-width: 991px) {
  .main-tab {
    padding-bottom: 6px;
    max-width: 100vw;
    height: max-content;
    overflow-x: auto;
  }
}
.main-tab .main-tab-item {
  display: flex;
  align-items: center;
  margin-right: 20px;
  padding: 8px 12px;
  position: relative;
  min-width: max-content;
}
.main-tab .main-tab-item:last-of-type {
  margin-right: 0;
}
.main-tab .main-tab-item a {
  display: block;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
}
.main-tab .main-tab-item .icon-image {
  min-width: 24px;
  max-width: 24px;
  height: 24px;
  object-fit: cover;
  margin-right: 12px;
}
.main-tab .main-tab-item .label {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  /* identical to box height */
  /* 2sport/color2 */
  color: #034f76;
}
.main-tab .all-tab-item {
  padding: 8px 12px;
  border: 1px solid #034f76;
  border-radius: 4px;
}
.main-tab .all-tab-item a {
  color: #034f76;
}
.main-tab .ui-tabs-active {
  background-color: #034f76;
  border: none;
  border-radius: 4px;
}
.main-tab .ui-tabs-active a .label {
  color: #fff;
}
.main-tab .ui-tabs-active::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -7px;
  display: block;
  width: 0;
  height: 0;
  -webkit-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #034f76;
}

.common-main-layout {
  width: 100%;
  display: flex;
}

.common-left-layout {
  min-width: 300px;
  max-width: 300px;
  height: auto;
}
@media only screen and (max-width: 991px) {
  .common-left-layout {
    display: none;
  }
}
.common-left-layout .league-item {
  margin-bottom: 0 !important;
}

.common-right-layout {
  flex-grow: 1;
  height: auto;
  padding: 0px 24px 50px 24px;
}
@media only screen and (max-width: 991px) {
  .common-right-layout {
    padding: 0;
  }
}

.common-list-category {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}
.common-list-category h1 {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #4a5568;
  margin-right: 6px;
}
.common-list-category h1:hover {
  text-decoration: none;
}
@media only screen and (max-width: 991px) {
  .common-list-category h1 {
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
  }
}
.common-list-category .category-item {
  display: flex;
  align-items: center;
}
.common-list-category .arrow {
  margin-right: 6px;
}

.box-common {
  width: 100%;
  height: auto;
  background: #ffffff;
  border-radius: 4px;
}

.box-list-league {
  padding: 20px;
}
.box-list-league .league-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 8px;
}
.box-list-league .league-item:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}
.box-list-league .league-item .league-image {
  min-width: 32px;
  max-width: 32px;
  height: 32px;
  object-fit: cover;
  margin-right: 12px;
}
.box-list-league .league-item .league-name {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: rgba(17, 17, 17, 0.95);
}
.box-list-league .league-item .fire-icon {
  min-width: 24px;
  max-width: 24px;
  height: 24px;
  object-fit: cover;
  margin-left: 5px;
}

.box-statistic-league {
  width: 100%;
  margin-top: 24px;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  /* identical to box height */
  color: #111111;
}
.box-statistic-league .statistic-league-header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 4px;
  align-items: center;
  background: #fff;
  border: 1px solid #e9e6dc;
  border-radius: 4px;
}
.box-statistic-league .show-list-league {
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  width: 100%;
  height: auto;
  background-color: #fff;
  z-index: 999;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  border: 1px solid #e9e6dc;
  padding: 0 !important;
  box-shadow: 0 3px 0 rgba(126, 123, 107, 0.1);
  display: none;
}
.box-statistic-league .show-list-league .box-list-league {
  padding: 0px !important;
}
.box-statistic-league .show-list-league .box-list-league .league-item {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  padding: 10px 16px !important;
  gap: 6px;
  cursor: pointer;
  border: none;
  border-radius: 0;
  background-color: transparent;
  align-items: center;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #111;
}
.box-statistic-league .show-list-league .box-list-league .league-item:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}
.box-statistic-league .show-list-league .box-list-league .league-image {
  display: block;
  width: 24px;
  min-width: 24px;
  height: 24px;
  object-fit: cover;
}
.box-statistic-league .show-list-league .box-list-league .league-name {
  max-width: 250px !important;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #111;
}
.box-statistic-league .btn-show-list-league {
  display: flex;
  min-width: 32px;
  height: 32px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background-color: #edf2f7;
  margin-left: 4px;
}
.box-statistic-league .table-statistic-league {
  padding: 0px 24px 16px;
  margin-top: 0;
}
.box-statistic-league .league-info {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  position: relative;
  flex-grow: 1;
}
.box-statistic-league .league-info .league-image {
  min-width: 24px;
  max-width: 24px;
  height: 24px;
  object-fit: cover;
  margin-right: 8px;
}
.box-statistic-league .league-info .league-detail-name {
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 26px;
  /* identical to box height */
  color: #111111;
}
.box-statistic-league .table-statistic-league {
  width: 100%;
  margin-top: 16px;
}
.box-statistic-league .table-statistic-league .column-12 {
  width: 12%;
}
.box-statistic-league .table-statistic-league .column-52 {
  width: 52%;
}
.box-statistic-league .table-statistic-league .club-name {
  padding-right: 8px;
}
.box-statistic-league .table-statistic-league .table-statistic-row {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.box-statistic-league .table-statistic-league .table-statistic-row:last-of-type {
  margin-bottom: 0;
}

.livenow > div {
  vertical-align: middle;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  border: 3px solid #e53e3e;
  -webkit-animation: live 1.4s infinite ease-in-out;
  animation: live 1.4s infinite ease-in-out;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.livenow > div:nth-child(1) {
  background-color: #e53e3e;
  background-color: #e53e3e;
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}

@-webkit-keyframes live {
  0%, 80%, 100% {
    -webkit-transform: scale(0.6);
  }
  40% {
    -webkit-transform: scale(1);
  }
}
@keyframes live {
  0%, 80%, 100% {
    transform: scale(0.6);
    -webkit-transform: scale(0.6);
  }
  40% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
.common-title {
  margin-left: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 26px;
  /* identical to box height */
  min-width: max-content;
  text-transform: uppercase;
}

.table-title {
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 26px;
  /* identical to box height */
  color: #111111;
  margin-bottom: 12px;
}
@media only screen and (max-width: 991px) {
  .table-title {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 8px;
  }
}

.danger-title {
  color: #e53e3e;
}

.common-table-wrapper {
  width: 100%;
  margin-bottom: 20px;
}
.common-table-wrapper .title-block {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}
@media only screen and (max-width: 991px) {
  .common-table-wrapper .title-block {
    margin-bottom: 8px;
  }
}
.common-table-wrapper .title-block .icon-wrapper img {
  min-width: 32px;
  max-width: 32px;
  object-fit: cover;
}
.common-table-wrapper .title-block .dash {
  flex-grow: 1;
  height: 1px;
  width: 100%;
  background-color: #ccc;
  border: none;
  margin-left: 16px;
}
@media only screen and (max-width: 991px) {
  .common-table-wrapper .title-block .dash {
    display: none;
  }
}
.common-table-wrapper .live-status-wrapper {
  min-width: 10px;
  max-width: 10px;
  height: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.common-table-league {
  width: 100%;
}
.common-table-league .common-table-row {
  width: 100%;
  background: #ffffff;
  border-radius: 4px;
  padding: 12px 8px 12px 16px;
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: rgba(17, 17, 17, 0.95);
  line-height: 21px;
  margin-bottom: 8px;
}
.common-table-league .common-table-row:last-of-type {
  margin-bottom: 0;
}
@media only screen and (max-width: 991px) {
  .common-table-league .common-table-row {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
  }
}
@media only screen and (max-width: 991px) {
  .common-table-league .common-table-row {
    flex-direction: column;
    padding: 10px 16px;
  }
}
.common-table-league .txt-green {
  color: #009a5f;
  min-width: max-content;
}
.common-table-league .btn-watch {
  font-family: "Poppins";
  min-width: max-content;
  padding: 7px 8px;
  border: 1px solid #f1516e;
  border-radius: 4px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  background-color: #fff;
  color: #f1516e;
  cursor: pointer;
}
.common-table-league .btn-watch:hover {
  background: #f1516e;
  border-radius: 4px;
  color: #fff;
}
@media only screen and (max-width: 991px) {
  .common-table-league .btn-watch {
    display: none;
  }
}
.common-table-league .left-row {
  width: 30%;
  display: flex;
  align-items: center;
  margin-right: 8px;
}
@media only screen and (max-width: 991px) {
  .common-table-league .left-row {
    width: 100%;
    margin-right: 0;
  }
}
.common-table-league .math-info-wrapper {
  width: 40%;
  display: flex;
  align-items: center;
  min-width: max-content;
  margin-right: 8px;
}
@media only screen and (max-width: 991px) {
  .common-table-league .math-info-wrapper {
    width: 50%;
  }
}
.common-table-league .match-half {
  margin: 0px 16px;
}
.common-table-league .league-name-wrapper {
  width: 60%;
  max-width: 60%;
  align-items: center;
}
.common-table-league .right-row {
  width: 70%;
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 991px) {
  .common-table-league .right-row {
    width: 100%;
  }
}
.common-table-league .list-club-wrapper {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 8px;
}
@media only screen and (max-width: 991px) {
  .common-table-league .list-club-wrapper {
    margin: 0;
  }
}
.common-table-league .list-club-wrapper .club-item {
  width: 50%;
  display: flex;
  align-items: center;
}
.common-table-league .list-club-wrapper .club-item .club-image {
  min-width: 28px;
  max-width: 28px;
  height: 28px;
  object-fit: cover;
}
.common-table-league .list-club-wrapper .club-item .club-name-wrapper {
  width: calc(100% - 30px);
}
.common-table-league .list-club-wrapper .first-club {
  justify-content: flex-end;
}
.common-table-league .list-club-wrapper .first-club .club-image {
  margin-left: 12px;
}
@media only screen and (max-width: 991px) {
  .common-table-league .list-club-wrapper .first-club .club-image {
    margin-left: 4px;
  }
}
.common-table-league .list-club-wrapper .first-club .club-name {
  text-align: right;
}
.common-table-league .list-club-wrapper .last-club .club-image {
  margin-right: 12px;
}
@media only screen and (max-width: 991px) {
  .common-table-league .list-club-wrapper .last-club .club-image {
    margin-right: 4px;
  }
}
.common-table-league .list-club-wrapper .last-club .club-name {
  text-align: left;
}
.common-table-league .list-club-wrapper .score-wrapper {
  text-align: center;
  min-width: max-content;
  padding: 0px 36px;
}
@media only screen and (max-width: 991px) {
  .common-table-league .list-club-wrapper .score-wrapper {
    padding: 0px 16px;
  }
}

.all-match-wrapper {
  margin-top: 24px;
}
@media only screen and (max-width: 991px) {
  .all-match-wrapper {
    margin-top: 16px;
  }
}

.match-table-item {
  margin-bottom: 24px;
}
@media only screen and (max-width: 991px) {
  .match-table-item {
    margin-bottom: 16px;
  }
}

.team-page-wrapper .team-page-content {
  padding: 32px 0px;
}
@media only screen and (max-width: 991px) {
  .team-page-wrapper .team-page-content {
    padding: 24px 0px;
  }
}
.team-page-wrapper .club-info-wrapper {
  width: 100%;
  display: flex;
}
@media only screen and (max-width: 991px) {
  .team-page-wrapper .club-info-wrapper {
    align-items: center;
  }
}
.team-page-wrapper .club-info-wrapper .club-image {
  min-width: 70px;
  max-width: 70px;
  height: 70px;
  object-fit: cover;
  margin-right: 16px;
}
@media only screen and (max-width: 991px) {
  .team-page-wrapper .club-info-wrapper .club-image {
    min-width: 56px;
    max-width: 56px;
    height: 56px;
    object-fit: cover;
  }
}
.team-page-wrapper .club-info-wrapper .club-detail {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.team-page-wrapper .club-info-wrapper .club-detail .club-name {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height */
  /* Gray:900 */
  color: #1a202c;
}
@media only screen and (max-width: 991px) {
  .team-page-wrapper .club-info-wrapper .club-detail .club-name {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
  }
}
.team-page-wrapper .club-info-wrapper .club-detail .club-description {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  /* Gray:900 */
  color: #1a202c;
  max-width: 1110px;
}
@media only screen and (max-width: 991px) {
  .team-page-wrapper .club-info-wrapper .club-detail .club-description {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    /* Gray:900 */
    color: #1a202c;
  }
}
.team-page-wrapper .club-description-pc {
  display: block;
}
@media only screen and (max-width: 991px) {
  .team-page-wrapper .club-description-pc {
    display: none;
  }
}
.team-page-wrapper .club-description-mb {
  display: none;
}
@media only screen and (max-width: 991px) {
  .team-page-wrapper .club-description-mb {
    display: block;
    margin-top: 16px;
  }
}
.team-page-wrapper .feature-title {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height */
  /* Gray:900 */
  color: #1a202c;
  margin-bottom: 24px;
}
@media only screen and (max-width: 991px) {
  .team-page-wrapper .feature-title {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
  }
}
.team-page-wrapper .list-match-table {
  width: 100%;
  margin-top: 50px;
}
@media only screen and (max-width: 991px) {
  .team-page-wrapper .list-match-table {
    margin-top: 40px;
  }
}

.standing-table-wrapper {
  background: #ffffff;
  border-radius: 4px;
  width: 100%;
  padding: 24px;
}
@media only screen and (max-width: 991px) {
  .standing-table-wrapper {
    padding: 16px;
  }
}
.standing-table-wrapper .standing-title {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height */
  color: #111111;
  margin-bottom: 12px;
}
@media only screen and (max-width: 991px) {
  .standing-table-wrapper .standing-title {
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 28px;
    margin-bottom: 8px;
  }
}
.standing-table-wrapper .league-stadinng-table {
  width: 100%;
  height: auto;
  overflow-x: auto;
}
.standing-table-wrapper .league-stadinng-table .row-item {
  padding: 10px 24px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #1a202c;
  display: flex;
  align-items: center;
  background-color: #fff;
}
.standing-table-wrapper .league-stadinng-table .row-item .team-info {
  min-width: 230px;
  max-width: 230px;
  display: flex;
  align-items: center;
}
.standing-table-wrapper .league-stadinng-table .row-item .team-info .team-id {
  display: flex;
  justify-content: center;
  margin-right: 32px;
}
.standing-table-wrapper .league-stadinng-table .row-item .team-info .team-id .number {
  width: 24px;
  height: 24px;
  border: none;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1a202c;
}
.standing-table-wrapper .league-stadinng-table .row-item .team-info .team-id .yellow-number {
  background-color: #FDC400;
}
.standing-table-wrapper .league-stadinng-table .row-item .team-info .team-id .red-number {
  background-color: #F91E4E;
  color: #ffffff;
}
.standing-table-wrapper .league-stadinng-table .row-item .team-info .team-id .blue-number {
  background-color: #034f76;
  color: #fff;
}
.standing-table-wrapper .league-stadinng-table .row-item .team-info .team-id .orange-number {
  background-color: #ed8936;
  color: #fff;
}
.standing-table-wrapper .league-stadinng-table .row-item .team-info .team-id .pink-number {
  background-color: #f1516e;
  color: #fff;
}
.standing-table-wrapper .league-stadinng-table .row-item .team-info .team-name {
  flex-grow: 1;
}
.standing-table-wrapper .league-stadinng-table .row-item .team-result {
  display: flex;
  align-items: center;
  gap: 50px;
  flex-grow: 1;
}
.standing-table-wrapper .league-stadinng-table .row-item .team-result .result-detail {
  flex-grow: 1;
  display: flex;
}
.standing-table-wrapper .league-stadinng-table .row-item .team-result .result-detail .detail-item {
  min-width: 50px;
  width: 12.5%;
  height: auto;
  text-transform: capitalize;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
}
.standing-table-wrapper .league-stadinng-table .row-item .team-result .list-player {
  display: flex;
  gap: 2px;
  min-width: 150px;
  max-width: 150px;
}
.standing-table-wrapper .league-stadinng-table .row-item .team-result .list-player .player-item {
  width: 24px;
  height: 24px;
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}
.standing-table-wrapper .league-stadinng-table .row-item .team-result .list-player .green {
  background-color: #18b745;
}
.standing-table-wrapper .league-stadinng-table .row-item .team-result .list-player .grey {
  background-color: #888888;
}
.standing-table-wrapper .league-stadinng-table .row-item .team-result .list-player .orange {
  background-color: #f1516e;
}
.standing-table-wrapper .league-stadinng-table .table-heading {
  background-color: #4a5568;
  color: #fff;
  min-width: max-content;
}
.standing-table-wrapper .league-stadinng-table .table-row {
  min-width: max-content;
}
.standing-table-wrapper .league-stadinng-table .table-row:nth-child(odd) {
  background-color: #edf2f7;
}
.standing-table-wrapper .league-stadinng-table .table-row:hover {
  cursor: pointer;
  background-color: #edf2f7;
}

.all-league-page-wrapper {
  width: 100%;
  height: auto;
  padding: 24px 0px;
}
@media only screen and (max-width: 991px) {
  .all-league-page-wrapper {
    padding: 16px 0px;
  }
}
.all-league-page-wrapper .label-filter {
  padding: 8px 12px;
  background: #034f76;
  border-radius: 8px;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #fff;
  display: flex;
  align-items: center;
  max-width: fit-content;
}
.all-league-page-wrapper .league-title {
  margin-top: 12px;
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 16px;
}
.all-league-page-wrapper .list-league {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
.all-league-page-wrapper .list-league .league-item {
  border: 1px solid #034f76;
  border-radius: 16px;
  padding: 6px 12px;
  margin-right: 12px;
  margin-bottom: 12px;
}
.all-league-page-wrapper .list-league .league-item a {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 14px;
  text-align: center;
  color: #111111;
  text-decoration: none;
}
.all-league-page-wrapper .list-league .league-item a:hover {
  color: #034f76;
}
.all-league-page-wrapper .box-search-league-wrapper {
  margin: 48px 0px;
  display: flex;
  justify-content: center;
}
@media only screen and (max-width: 991px) {
  .all-league-page-wrapper .box-search-league-wrapper {
    margin: 36px 0px;
  }
}
.all-league-page-wrapper .box-search-league-wrapper .search-wrapper-common {
  margin: auto;
  display: flex;
  align-items: center;
  position: relative;
  border: 1px solid #dfe1e5;
  border-radius: 100px;
  height: 44px;
  background-color: #fff;
  width: 475px;
  max-width: 475px;
  border-radius: 100px;
  padding: 5px 8px 5px 14px;
}
@media only screen and (max-width: 991px) {
  .all-league-page-wrapper .box-search-league-wrapper .search-wrapper-common {
    width: 100%;
    max-width: 100%;
  }
}
.all-league-page-wrapper .box-search-league-wrapper .search-wrapper-common .icon {
  display: flex;
  width: 20px;
  height: 20px;
  justify-content: center;
  align-items: center;
  margin-right: 6px;
}
.all-league-page-wrapper .box-search-league-wrapper .search-wrapper-common input {
  flex-grow: 1;
  width: 100%;
  border: none;
  outline: none;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  cursor: pointer;
  position: relative;
  top: 1px;
  /* identical to box height */
  /* #FFFFFF */
  color: #111;
  background-color: transparent;
}
.all-league-page-wrapper .box-search-league-wrapper .search-wrapper-common input:focus {
  outline: none;
}
.all-league-page-wrapper .box-search-league-wrapper .search-wrapper-common input::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #718096;
}
.all-league-page-wrapper .box-all-league-wrapper .header-control {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.all-league-page-wrapper .box-all-league-wrapper .btn-toggle-collapse {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  font-size: 14px;
  color: rgb(33, 37, 41);
  line-height: 21px;
  font-weight: 400;
  font-family: "Poppins";
  cursor: pointer;
  display: flex;
  align-items: center;
}
.all-league-page-wrapper .box-all-league-wrapper .btn-toggle-collapse:focus {
  outline: none;
}
.all-league-page-wrapper .box-all-league-wrapper .btn-toggle-collapse .icon-collapse {
  display: flex;
  width: 16px;
  min-width: 16px;
  height: 16px;
  justify-content: center;
  align-items: center;
  margin-left: 6px;
}
.all-league-page-wrapper .box-all-league-wrapper .btn-toggle-collapse .icon-collapse svg {
  transform: rotate(-90deg);
}
.all-league-page-wrapper .box-all-league-wrapper .btn-toggle-collapse.collapse .icon-collapse svg {
  transform: rotate(90deg);
}
.all-league-page-wrapper .box-all-league-wrapper .list-country-groups {
  margin-top: 12px;
  -moz-column-count: 4;
  column-count: 4;
  margin: 0;
  padding: 0;
  list-style: none;
}
@media only screen and (max-width: 991px) {
  .all-league-page-wrapper .box-all-league-wrapper .list-country-groups {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
}
.all-league-page-wrapper .box-all-league-wrapper .list-country-groups .country-group {
  margin-bottom: 24px;
  -moz-column-break-inside: avoid;
  break-inside: avoid-column;
}
.all-league-page-wrapper .box-all-league-wrapper .list-country-groups .country-group-title {
  display: flex;
  align-items: center;
}
.all-league-page-wrapper .box-all-league-wrapper .list-country-groups .country-group-title .flag-country {
  min-width: 16px;
  max-width: 16px;
  object-fit: cover;
  margin-right: 4px;
}
.all-league-page-wrapper .box-all-league-wrapper .list-country-groups .list-countries {
  margin-top: 6px;
  margin-bottom: 0;
}
.all-league-page-wrapper .box-all-league-wrapper .list-country-groups .list-countries li {
  font-size: 16px;
  line-height: 26px;
}
.all-league-page-wrapper .box-all-league-wrapper .list-country-groups .list-countries li a {
  font-size: 16px;
  color: #111;
  text-decoration: none;
  font-weight: 400;
  line-height: 26px;
}
.all-league-page-wrapper .box-all-league-wrapper .list-country-groups .list-countries li a:hover {
  color: #034f76;
}

/*# sourceMappingURL=main.css.map */
