@charset "utf-8";
@import "variables";
@import "mixins";
@import "fonts";

/* -----------------------------------------------------------
	reset style
----------------------------------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font_main;
  background-color: $background-primary-color;
  color: $content-primary;
}

img {
  max-width: 100%;
}

a,
button {
  transition: all 0.4s ease;
}

.over {
  transition: all 0.4s ease;

  &:hover {
    opacity: 0.7;
  }
}

.list-style-none {
  list-style: none !important;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
  padding: 0;
}

/* -----------------------------------------------------------
	common style
----------------------------------------------------------- */
.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.d-flex {
  display: flex;
}

.text-uppercase {
  text-transform: uppercase;
}

.flex-start {
  justify-content: flex-start;
}

.flex-end {
  justify-content: flex-end;
}

.flex-center {
  justify-content: center;
}

.flex-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.w-100 {
  width: 100%;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  // overflow: auto;

  @include mq(max_md) {
    min-width: 100%;
    max-width: 100%;
    padding-right: 8px !important;
    padding-left: 8px !important;
  }
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    max-width: 750px !important;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 970px !important;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1170px !important;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1400px !important;
  }
}
@media (min-width: 2000px) {
  .container {
    max-width: 1900px !important;
  }
}

.text-overflow {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}
