/* -----------------------------------------------------------
	font-face
----------------------------------------------------------- */
@font-face {
	font-family: 'HarmonyOS Sans Black';
	src: url('../fonts/HarmonyOS_Sans_Black.ttf');
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'HarmonyOS Sans Bold';
	src: url('../fonts/HarmonyOS_Sans_Bold.ttf');
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'HarmonyOS Sans Light';
	src: url('../fonts/HarmonyOS_Sans_Light.ttf');
	font-style: normal;
	font-display: swap;
}


@font-face {
	font-family: 'HarmonyOS Sans Medium';
	src: url('../fonts/HarmonyOS_Sans_Medium.ttf');
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'HarmonyOS Sans Regular';
	src: url('../fonts/HarmonyOS_Sans_Regular.ttf');
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'HarmonyOS Sans Thin';
	src: url('../fonts/HarmonyOS_Sans_Thin.ttf');
	font-style: normal;
	font-display: swap;
}


