@charset "utf-8";
@import "variables";
@import "mixins";
@import "fonts";

.home-page-wrapper {
  padding: 24px 0px;
  background-color: #f5f5f5;

  .home-page-content {
    .title {
      font-style: normal;
      font-weight: 500;
      font-size: 28px;
      line-height: 42px;
      /* identical to box height */

      /* 2sport/color2 */

      color: #034f76;
      margin-bottom: 24px;

      @include mq(max_md) {
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
      }
    }
  }
}

// ========STYLE TAB  ========
.main-tab {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  margin-bottom: 16px;

  @include mq(max_md) {
    padding-bottom: 6px;
    max-width: 100vw;
    height: max-content;
    overflow-x: auto;
  }

  .main-tab-item {
    display: flex;
    align-items: center;
    margin-right: 20px;
    padding: 8px 12px;
    position: relative;
    min-width: max-content;

    &:last-of-type {
      margin-right: 0;
    }

    a {
      display: block;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      text-decoration: none;
    }

    .icon-image {
      min-width: 24px;
      max-width: 24px;
      height: 24px;
      object-fit: cover;
      margin-right: 12px;
    }

    .label {
      font-style: normal;
      font-weight: 500;
      font-size: 15px;
      line-height: 22px;
      /* identical to box height */

      /* 2sport/color2 */

      color: #034f76;
    }
  }

  .all-tab-item {
    padding: 8px 12px;
    border: 1px solid #034f76;
    border-radius: 4px;

    a {
      color: #034f76;
    }
  }

  .ui-tabs-active {
    background-color: #034f76;
    border: none;
    border-radius: 4px;
    a {
      .label {
        color: #fff;
      }
    }

    &::before {
      content: "";
      position: absolute;
      left: 50%;
      bottom: -7px;
      display: block;
      width: 0;
      height: 0;
      -webkit-transform: translate(-50%, 0%);
      transform: translate(-50%, 0%);
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 10px solid #034f76;
    }
  }
}
// ========STYLE TAB  ========

.common-main-layout {
  width: 100%;
  display: flex;
}

.common-left-layout {
  min-width: 300px;
  max-width: 300px;
  height: auto;

  @include mq(max_md) {
    display: none;
  }
  .league-item {
    margin-bottom: 0 !important;
  }
}

.common-right-layout {
  flex-grow: 1;
  height: auto;
  padding: 0px 24px 50px 24px;

  @include mq(max_md) {
    padding: 0;
  }
}

.common-list-category {
  display: flex;
  align-items: center;
  margin-bottom: 24px;

  @include mq(max_md) {
  }

  h1 {
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #4a5568;
    margin-right: 6px;

    &:hover {
      text-decoration: none;
    }

    @include mq(max_md) {
      font-style: normal;
      font-weight: 400;
      font-size: 11px;
      line-height: 13px;
    }
  }

  .category-item {
    display: flex;
    align-items: center;
  }

  .arrow {
    margin-right: 6px;
  }
}

.box-common {
  width: 100%;
  height: auto;
  background: #ffffff;
  border-radius: 4px;
}

.box-list-league {
  padding: 20px;

  .league-item {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 8px;

    &:hover {
      background-color: #f5f5f5;
      cursor: pointer;
    }

    .league-image {
      min-width: 32px;
      max-width: 32px;
      height: 32px;
      object-fit: cover;
      margin-right: 12px;
    }

    .league-name {
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 22px;
      color: rgba(17, 17, 17, 0.95);
    }

    .fire-icon {
      min-width: 24px;
      max-width: 24px;
      height: 24px;
      object-fit: cover;
      margin-left: 5px;
    }
  }
}

.box-statistic-league {
  width: 100%;
  margin-top: 24px;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  /* identical to box height */

  color: #111111;

  .statistic-league-header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 4px;
    align-items: center;
    background: #fff;
    border: 1px solid #e9e6dc;
    border-radius: 4px;
  }

  .show-list-league {
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    width: 100%;
    height: auto;
    background-color: #fff;
    z-index: 999;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    border: 1px solid #e9e6dc;
    padding: 0 !important;
    box-shadow: 0 3px 0 rgba(126, 123, 107, 0.1);
    display: none;
    .box-list-league {
      padding: 0px !important;

      .league-item {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        padding: 10px 16px !important;
        gap: 6px;
        cursor: pointer;
        border: none;
        border-radius: 0;
        background-color: transparent;
        align-items: center;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        color: #111;

        &:hover {
          background-color: #f5f5f5;
          cursor: pointer;
        }
      }


      .league-image {
        display: block;
        width: 24px;
        min-width: 24px;
        height: 24px;
        object-fit: cover;
      }
      .league-name {
        max-width: 250px !important;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        color: #111;
      }
    }
  }

  .btn-show-list-league {
    display: flex;
    min-width: 32px;
    height: 32px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    background-color: #edf2f7;
    margin-left: 4px;
  }

  .table-statistic-league {
    padding: 0px 24px 16px;
    margin-top: 0;
  }

  .league-info {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    position: relative;
    flex-grow: 1;

    .league-image {
      min-width: 24px;
      max-width: 24px;
      height: 24px;
      object-fit: cover;
      margin-right: 8px;
    }
    .league-detail-name {
      font-style: normal;
      font-weight: 500;
      font-size: 17px;
      line-height: 26px;
      /* identical to box height */

      color: #111111;
    }
  }

  .table-statistic-league {
    width: 100%;

    margin-top: 16px;

    .column-12 {
      width: 12%;
    }
    .column-52 {
      width: 52%;
    }

    .club-name {
      padding-right: 8px;
    }

    .table-statistic-row {
      display: flex;
      align-items: center;
      margin-bottom: 20px;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}

.livenow > div {
  vertical-align: middle;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  border: 3px solid #e53e3e;
  -webkit-animation: live 1.4s infinite ease-in-out;
  animation: live 1.4s infinite ease-in-out;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  &:nth-child(1) {
    background-color: #e53e3e;
    background-color: #e53e3e;
    -webkit-animation-delay: -0.1s;
    animation-delay: -0.1s;
  }
}

@-webkit-keyframes live {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0.6);
  }
  40% {
    -webkit-transform: scale(1);
  }
}
@keyframes live {
  0%,
  80%,
  100% {
    transform: scale(0.6);
    -webkit-transform: scale(0.6);
  }
  40% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}

.common-title {
  margin-left: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 26px;
  /* identical to box height */

  min-width: max-content;
  text-transform: uppercase;
}

.table-title {
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 26px;
  /* identical to box height */

  color: #111111;
  margin-bottom: 12px;

  @include mq(max_md) {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 8px;
  }
}

.danger-title {
  color: #e53e3e;
}

.common-table-wrapper {
  width: 100%;
  margin-bottom: 20px;

  .title-block {
    display: flex;
    align-items: center;

    margin-bottom: 12px;

    @include mq(max_md) {
      margin-bottom: 8px;
    }

    .icon-wrapper {
      img {
        min-width: 32px;
        max-width: 32px;
        object-fit: cover;
      }
    }

    .dash {
      flex-grow: 1;
      height: 1px;
      width: 100%;
      background-color: #ccc;
      border: none;
      margin-left: 16px;

      @include mq(max_md) {
        display: none;
      }
    }
  }

  .live-status-wrapper {
    min-width: 10px;
    max-width: 10px;
    height: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.common-table-league {
  width: 100%;
  .common-table-row {
    width: 100%;
    background: #ffffff;
    border-radius: 4px;
    padding: 12px 8px 12px 16px;
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: rgba(17, 17, 17, 0.95);
    line-height: 21px;

    margin-bottom: 8px;

    &:last-of-type {
      margin-bottom: 0;
    }
    @include mq(max_md) {
      font-style: normal;
      font-weight: 400;
      font-size: 13px;
      line-height: 20px;
    }

    @include mq(max_md) {
      flex-direction: column;
      padding: 10px 16px;
    }
  }

  .txt-green {
    color: #009a5f;
    min-width: max-content;
  }

  .btn-watch {
    font-family: "Poppins";
    min-width: max-content;
    padding: 7px 8px;
    border: 1px solid #f1516e;
    border-radius: 4px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    background-color: #fff;

    color: #f1516e;
    cursor: pointer;

    &:hover {
      background: #f1516e;
      border-radius: 4px;
      color: #fff;
    }

    @include mq(max_md) {
      display: none;
    }
  }

  .left-row {
    width: 30%;
    display: flex;
    align-items: center;
    margin-right: 8px;

    @include mq(max_md) {
      width: 100%;
      margin-right: 0;
    }
  }

  .math-info-wrapper {
    width: 40%;
    display: flex;
    align-items: center;
    min-width: max-content;
    margin-right: 8px;
    @include mq(max_md) {
      width: 50%;
    }
  }

  .match-half {
    margin: 0px 16px;
  }

  .league-name-wrapper {
    width: 60%;
    max-width: 60%;
    align-items: center;
  }

  .right-row {
    width: 70%;
    display: flex;
    align-items: center;

    @include mq(max_md) {
      width: 100%;
    }
  }

  .list-club-wrapper {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 8px;

    @include mq(max_md) {
      margin: 0;
    }

    .club-item {
      width: 50%;
      display: flex;
      align-items: center;

      .club-image {
        min-width: 28px;
        max-width: 28px;
        height: 28px;
        object-fit: cover;
      }

      .club-name-wrapper {
        width: calc(100% - 30px);
      }
    }

    .first-club {
      justify-content: flex-end;

      .club-image {
        margin-left: 12px;
        @include mq(max_md) {
          margin-left: 4px;
        }
      }

      .club-name {
        text-align: right;
      }
    }

    .last-club {
      .club-image {
        margin-right: 12px;
        @include mq(max_md) {
          margin-right: 4px;
        }
      }
      .club-name {
        text-align: left;
      }
    }

    .score-wrapper {
      text-align: center;
      min-width: max-content;
      padding: 0px 36px;
      @include mq(max_md) {
        padding: 0px 16px;
      }
    }
  }
}

.all-match-wrapper {
  margin-top: 24px;

  @include mq(max_md) {
    margin-top: 16px;
  }
}

.match-table-item {
  margin-bottom: 24px;

  @include mq(max_md) {
    margin-bottom: 16px;
  }
}

// =========STYLE TEAM PAGE

.team-page-wrapper {
  .team-page-content {
    padding: 32px 0px;
    @include mq(max_md) {
      padding: 24px 0px;
    }
  }

  .club-info-wrapper {
    width: 100%;
    display: flex;

    @include mq(max_md) {
      align-items: center;
    }

    .club-image {
      min-width: 70px;
      max-width: 70px;
      height: 70px;
      object-fit: cover;
      margin-right: 16px;

      @include mq(max_md) {
        min-width: 56px;
        max-width: 56px;
        height: 56px;
        object-fit: cover;
      }
    }

    .club-detail {
      flex-grow: 1;
      display: flex;
      flex-direction: column;

      .club-name {
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 36px;
        /* identical to box height */

        /* Gray:900 */

        color: #1a202c;

        @include mq(max_md) {
          font-style: normal;
          font-weight: 500;
          font-size: 20px;
          line-height: 30px;
        }
      }

      .club-description {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;

        /* Gray:900 */

        color: #1a202c;
        max-width: 1110px;

        @include mq(max_md) {
          font-style: normal;
          font-weight: 400;
          font-size: 13px;
          line-height: 20px;

          /* Gray:900 */

          color: #1a202c;
        }
      }
    }
  }

  .club-description-pc {
    display: block;

    @include mq(max_md) {
      display: none;
    }
  }

  .club-description-mb {
    display: none;

    @include mq(max_md) {
      display: block;
      margin-top: 16px;
    }
  }

  .feature-title {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height */

    /* Gray:900 */

    color: #1a202c;
    margin-bottom: 24px;

    @include mq(max_md) {
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 20px;
    }
  }

  .list-match-table {
    width: 100%;
    margin-top: 50px;

    @include mq(max_md) {
      margin-top: 40px;
    }
  }
}

.standing-table-wrapper {
  background: #ffffff;
  border-radius: 4px;
  width: 100%;
  padding: 24px;

  @include mq(max_md) {
    padding: 16px;
  }

  .standing-title {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height */

    color: #111111;
    margin-bottom: 12px;

    @include mq(max_md) {
      font-style: normal;
      font-weight: 500;
      font-size: 19px;
      line-height: 28px;
      margin-bottom: 8px;
    }
  }

  .league-stadinng-table {
    width: 100%;
    height: auto;
    overflow-x: auto;

    .row-item {
      padding: 10px 24px;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
      color: #1a202c;
      display: flex;
      align-items: center;
      background-color: #fff;

      .team-info {
        min-width: 230px;
        max-width: 230px;
        display: flex;
        align-items: center;

        .team-id {
          display: flex;
          justify-content: center;
          margin-right: 32px;

          .number {
            width: 24px;
            height: 24px;
            border: none;
            border-radius: 6px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #1a202c;
          }

          .yellow-number {
            background-color: $primary-color;
          }

          .red-number {
            background-color: $secondary-color;
            color: $content-white;
          }

          .blue-number {
            background-color: #034f76;
            color: #fff;
          }
          .orange-number {
            background-color: #ed8936;
            color: #fff;
          }

          .pink-number {
            background-color: #f1516e;
            color: #fff;
          }
        }

        .team-name {
          flex-grow: 1;
        }
      }

      .team-result {
        display: flex;
        align-items: center;
        gap: 50px;
        flex-grow: 1;

        .result-detail {
          flex-grow: 1;
          display: flex;

          .detail-item {
            min-width: 50px;
            width: calc(100% / 8);
            height: auto;
            text-transform: capitalize;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 21px;
            text-align: center;
          }
        }

        .list-player {
          display: flex;
          gap: 2px;
          min-width: 150px;
          max-width: 150px;

          .player-item {
            width: 24px;
            height: 24px;
            border: none;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 21px;
            text-align: center;
            color: #ffffff;
            text-transform: uppercase;
          }

          .green {
            background-color: #18b745;
          }

          .grey {
            background-color: #888888;
          }

          .orange {
            background-color: #f1516e;
          }
        }
      }
    }

    .table-heading {
      background-color: #4a5568;
      color: #fff;
      min-width: max-content;
    }

    .table-row {
      min-width: max-content;

      &:nth-child(odd) {
        background-color: #edf2f7;
      }

      &:hover {
        cursor: pointer;
        background-color: #edf2f7;
      }
    }
  }
}
// =========STYLE TEAM PAGE

// ==========STYLE ALL LEAGUE PAGE =====
.all-league-page-wrapper {
  width: 100%;
  height: auto;
  padding: 24px 0px;

  @include mq(max_md) {
    padding: 16px 0px;
  }

  .label-filter {
    padding: 8px 12px;
    background: #034f76;
    border-radius: 8px;
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #fff;
    display: flex;
    align-items: center;
    max-width: fit-content;
  }
  .league-title {
    margin-top: 12px;
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 16px;
  }

  .list-league {
    display: flex;
    flex-wrap: wrap;
    list-style: none;

    .league-item {
      border: 1px solid #034f76;
      border-radius: 16px;
      padding: 6px 12px;
      margin-right: 12px;
      margin-bottom: 12px;

      a {
        display: block;
        width: 100%;
        height: 100%;
        font-size: 14px;
        text-align: center;
        color: #111111;
        text-decoration: none;

        &:hover {
          color: #034f76;
        }
      }
    }
  }

  .box-search-league-wrapper {
    margin: 48px 0px;

    display: flex;
    justify-content: center;

    @include mq(max_md) {
      margin: 36px 0px;
    }
    .search-wrapper-common {
      margin: auto;
      display: flex;
      align-items: center;
      position: relative;
      border: 1px solid #dfe1e5;
      border-radius: 100px;
      height: 44px;
      background-color: #fff;
      width: 475px;
      max-width: 475px;
      border-radius: 100px;
      padding: 5px 8px 5px 14px;

      @include mq(max_md) {
        width: 100%;
        max-width: 100%;
      }

      .icon {
        display: flex;
        width: 20px;
        height: 20px;
        justify-content: center;
        align-items: center;
        margin-right: 6px;
      }

      input {
        flex-grow: 1;
        width: 100%;
        border: none;
        outline: none;
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 20px;
        cursor: pointer;
        position: relative;
        top: 1px;
        /* identical to box height */

        /* #FFFFFF */

        color: #111;
        background-color: transparent;

        &:focus {
          outline: none;
        }

        &::placeholder {
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 17px;
          color: #718096;
        }
      }
    }
  }

  .box-all-league-wrapper {
    .header-control {
      width: 100%;
      display: flex;
      justify-content: space-between;

      align-items: center;
    }

    .btn-toggle-collapse {
      display: flex;
      align-items: center;
      background-color: transparent;
      border: none;
      font-size: 14px;
      color: rgb(33, 37, 41);
      line-height: 21px;
      font-weight: 400;
      font-family: "Poppins";
      cursor: pointer;
      display: flex;
      align-items: center;

      &:focus {
        outline: none;
      }

      .icon-collapse {
        display: flex;
        width: 16px;
        min-width: 16px;
        height: 16px;
        justify-content: center;
        align-items: center;
        margin-left: 6px;
        svg {
          transform: rotate(-90deg);
        }
      }

      &.collapse {
        .icon-collapse {
          svg {
            transform: rotate(90deg);
          }
        }
      }
    }

    .list-country-groups {
      margin-top: 12px;
      -moz-column-count: 4;
      column-count: 4;
      margin: 0;
      padding: 0;
      list-style: none;

      @include mq(max_md) {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
      }

      .country-group {
        margin-bottom: 24px;
        -moz-column-break-inside: avoid;
        break-inside: avoid-column;
      }

      .country-group-title {
        display: flex;
        align-items: center;

        .flag-country {
          min-width: 16px;
          max-width: 16px;
          object-fit: cover;
          margin-right: 4px;
        }
      }

      .list-countries {
        margin-top: 6px;
        margin-bottom: 0;

        li {
          font-size: 16px;
          line-height: 26px;
          a {
            font-size: 16px;
            color: #111;
            text-decoration: none;
            font-weight: 400;
            line-height: 26px;

            &:hover {
              color: #034f76;
            }
          }
        }
      }
    }
  }
}
