@charset "utf-8";
$experimental-support-for-svg: true;

$font_main: 'HarmonyOS Sans Regular';

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

$primary-color: #111827;
$secondary-color: #003044;
$third-color: #003044;
$green-color: #00AF46;
$gray-color: #6B7280;
$background-primary-color: #F3F4F6;
$background-secondary-color: #F3F4F6

