@charset "utf-8";
@import "variables";
@import "mixins";

.news-page__wrapper {
  padding: 24px 0px 60px;

  @include mq(max_md) {
    padding: 16px 0px 32px;
  }

  .common-layout__left {
    padding: 24px;
    background-color: #fff;
    border-radius: 20px;
    width: calc(100% - 392px - 24px);


    @include mq(max_md) {
      padding: 16px;
      width: 100%;
    }
  }

  .common-layout__right {
    min-width: 392px;
    max-width: 392px;
    border-radius: 20px;
  }

  .common-layout__left-content {
    padding: 24px;
    border-radius: 20px;
    max-height: fit-content;
    background-color: #fff;

    @include mq(max_md) {
     padding: 16px;
    }
  }

  .list-news__wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
}

.news-detail-page__wrapper {
  .common-layout__left {
    flex-grow: 1;
    padding: 0;
    background-color: transparent;
  }
  .slider-banner-block__list {
    max-width: 780px;
    @media (max-width: 780px) {
      max-width: 100%;
    }

    .common-vertical-news {
      min-width: 237px;
      max-width: 237px;
      height: auto;
      margin-right: 24px;

      .news-image-wrapper {
        width: 100%;
        min-width: 100%;
        height: 134px;
        img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 12px;
        }
      }
    }
  }
}

// search page style.

.search-page__wrapper {
  padding: 24px 0px 160px;

  @include mq(max_md) {
    padding: 16px 0px 80px;
    margin-bottom: 16px;
  }

  .search-page-content__wrapper {
    margin: 24px 0px;

    @include mq(max_md) {
      margin: 16px 0px;
    }
  }

  .search-form__wrapper {
    display: flex;
    justify-content: center;
  }

  .form-group {
    padding: 16px;
    border-radius: 12px;
    border: 2px solid var(--007-aff, #00af46);
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 808px;
    max-width: 808px;
    margin: 0 auto;

    @include mq(max_md) {
      padding: 12px;
    }

    @media (max-width: 808px) {
      max-width: 100%;
      min-width: 100%;
      padding: 16px;
    }
    .wrapper {
      display: flex;
      align-items: center;
      flex-grow: 1;
    }
  }

  .form-icon {
    min-width: 20px;
    max-width: 20px;
    height: 20px;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .form-input {
    margin: 0px 20px 0px 16px;
    flex-grow: 1;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    color: var(--cool-gray-900, #111827);
    font-family: HarmonyOS Sans Regular;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    &:focus {
      outline: none;
    }

    &::placeholder {
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      color: #6b7280;

      @include mq(max_md) {
        font-size: 16px;
      }
    }
    @include mq(max_md) {
      margin: 0px 12px 0px 8px;
    }

    @media (max-width: 300px) {
      max-width: 130px;
    }
  }
  .filter-tabs {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    list-style: none;
    width: 100%;
    border-bottom: 1px solid #d1d5db;

    li {
      width: max-content;
      margin-right: 24px;
      padding-bottom: 24px;

      &:last-child {
        margin-right: 0;
      }

      a {
        color: var(--cool-gray-900, #111827);
        font-size: 16px;
        font-style: normal;
        border-radius: 0;
        font-weight: 500;
        padding-bottom: 16px;
        line-height: normal;
        position: relative;
        top: 6px;

        &:hover {
          text-decoration: none;
          color: $green-color;
          border-bottom: 3px solid $green-color;
        }
      }
    }

    .ui-tabs-active {
      a {
        color: $green-color;
        border-bottom: 3px solid $green-color;
      }
    }
  }

  .tab-content__wrapper {
    padding-top: 24px;
  }

  .list-app {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    @media (max-width: 1200px) {
      justify-content: center;
      align-items: center;
    }

    .common-app__item {
      min-width: 392px;
      max-width: 392px;
      margin-right: 24px;
      margin-bottom: 24px;
      box-shadow: none;

      &:nth-child(3n) {
        margin-right: 0;
      }

      @media (max-width: 1200px) {
        &:nth-child(3n) {
          margin-right: 24px;
        }
      }

      @include mq(max_md) {
        margin-right: 24px;
      }

      @include mq(max_xs) {
        min-width: 343px;
        max-width: 343px;
        margin-right: 0 !important;
      }

      @media (max-width: 500px) {
        min-width: 100%;
        max-width: 100%;
      }

      .image-block__wrapper {
        width: 100%;
        height: 200px;

        @include mq(max_xs) {
          height: 175px;
        }
      }

      .content-detail-block__wrapper {
        background: #fff;
        border-radius: 0 0 20px 20px;
        box-shadow: none;

        .right-content {
          .title {
            color: var(--cool-gray-900, #111827);
            font-family: HarmonyOS Sans Medium;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
          }
          .description {
            color: var(--cool-gray-500, #6b7280);

            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }
        }
      }

      .btn-download {
        padding: 8px;
        background-color: $green-color;
        color: #fff;
        color: #fff;
        text-align: center;
        font-family: HarmonyOS Sans Regular;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
    }
  }
}

.news-detail-content__wrapper {
  background-color: #fff;
  padding-bottom: 32px;
  padding: 24px 24px 48px;
  border-radius: 20px;

  @include mq(max_md) {
    padding: 16px 16px 32px;
  }
  .title {
    color: var(--cool-gray-900, #111827);
    font-family: HarmonyOS Sans Medium;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 24px;
    line-height: 44px; /* 137.5% */

    @include mq(max_md) {
      font-size: 24px;
      margin-bottom: 16px;
    }
  }

  .paragraph {
    color: var(--cool-gray-900, #111827);

    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    margin: 16px 0px;

    @include mq(max_md) {
      font-size: 24px;
      margin: 12px 0px;
      font-size: 14px;
    }
  }

  .image {
    width: 100%;
    object-fit: cover;
    max-width: 100%;
    margin: 20px 0px;

    @include mq(max_md) {
      margin: 16px 0px;
    }
  }

  .link {
    text-decoration: underline;
    color: var(--cool-gray-900, #111827);

    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    @include mq(max_md) {
      font-size: 14px;
    }
  }

  .sub-title {
    color: var(--cool-gray-900, #111827);
    font-family: HarmonyOS Sans Medium;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 32px 0px 16px;

    @include mq(max_md) {
      font-size: 16px;
      margin: 24px 0px 12px;
    }
  }

  ul,
  ol {
    padding-left: 32px;

    @include mq(max_md) {
      padding: 24px;
    }
    li {
      margin-bottom: 12px;
    }
  }

  ul {
    list-style-type: disc;
  }
}
